.slider-content {
    width: 100% !important;
}
.videos-title {
    margin-top: 20px;
    margin-left: 20px;
}

.videos-title,
.videos-icon {
    cursor: pointer;
    color: var(--white-color);
}

.home-wrapper {
    display: block;
}

.slider-wrapper-content {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
