@media only screen and (max-width: 740px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .content-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .wrapper-content {
        max-width: 1750px;
    }
    .wrapper-select-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .wrapper-content-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 1080px) {
    .wrapper-content {
        max-width: 1750px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .content-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .content-items-wrapper {
        display: flex;
        justify-content: center;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
}
.wrapper-container {
    display: flex;
    flex-direction: column;
    width: 1750px;
}

.wrapper-content {
    padding-top: 36px;

    .wrapper-content-title {
        margin-left: 10px;
        color: var(--white-color);
        .wrapper-content-text {
            width: fit-content;
        }
        p {
            color: var(--white-color);
        }
    }
}

.content-empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    p {
        color: var(--white-color);
        font-size: 3.2rem;
        font-weight: 600;
    }
}

.content-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.content {
    display: flex;
    flex-wrap: wrap;
    .content-items {
        display: flex;
        flex-wrap: wrap;
    }
    .content-item {
        width: 350px;
        padding: 5px 10px;
        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}

.item-wrapper {
    position: relative;
    background: none;
    &:hover {
        scale: 1.1;
        z-index: 3;
        transition: all ease 0.3s;
        .img-icon {
            display: block;
            z-index: 4;
        }
        .item-img {
            // filter: brightness(0.5);
            transition: all ease 0.3s;
        }
        .overlay-gradient {
            display: block;
            z-index: 3;
        }
        h4 {
            display: block;
            z-index: 4;
        }
    }
    h4 {
        position: absolute;
        bottom: 20px;
        color: var(--white-color);
        display: none;
    }
    .overlay-gradient {
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        transition: all ease 0.7s;
        display: none;
    }
    .img-icon {
        position: absolute;
        font-size: 32px;
        color: var(--white-color);
        display: none;
    }
    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.wrapper-select-title {
    display: flex;
    // position: relative;
    justify-content: space-between;
}

.react-select-container {
    // position: absolute !important;
    width: 300px;
    right: 10px;
    color: var(--black-color);
}
.paging-button {
    display: flex;
    justify-content: center;
}
