@media only screen and (max-width: 740px) {
    .menu-item {
        font-size: 2rem !important;
        padding: 10px 8px !important;
    }
}

@media only screen and (max-width: 1080px) {
    .menu-item {
        font-size: 1.2rem !important;
        // padding: 8px 8px !important;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

nav {
    display: flex;
}

.menu-item {
    display: flex;
    align-items: center;
    // margin-right: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--white-color);
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary-color);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    // line-height: 100%;
    // margin-left: 10px;
}

.icon,
.active-icon {
    display: flex;
}
.active-icon {
    display: none;
}
